<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <title>NIKE AIR ZOOM PEGASUS 37 TB GUNSMOKE</title>
</head>
<body>
    <div class="blockmain">
    
        <div class="presentation">
            <div class="logoNike">
                <img src="/img/logoNike.png" alt="">
            </div>

            {# MODAL OF PRESENTATION TENIS #}
            <div class="modal_presentation">
                <img src="/img/model/clean/TenisBig.png" alt="">
            </div>
        </div>

        <div class="main_contents">
            <nav>
                <div class="menu">
                    <a href="#">LANÇAMENTOS</a>
                    <a href="#">MASCULINO</a>
                    <a href="#">FAMININO</a>
                    <a href="#">INFANTIL</a>
                </div>
                
                <button>
                    <img src="/img/button.png" alt="">
                </button>
            </nav>

            <div class="product_descriptions">
                <div class="highlight">
                    <h1>Nike Air Zoom </br> Pegasus 37 TB Gunsmoke</h1>
                    <h3>White Black</h3>
                    <h4>R$ 649,99</h4>
                    <h5>ou até 12x de 54,16 sem juros</h5>
                </div>
                <div class="stars">
                    <img src="/img/starred.png" alt="Star Red">
                    <img src="/img/starred.png" alt="Star Red">
                    <img src="/img/starred.png" alt="Star Red">
                    <img src="/img/starred.png" alt="Star Red">
                    <img src="/img/stargrey.png" alt="Star Grey">
                </div>

                <div class="more_details">
                    <div class="meet_the_new">
                        <h2>Conheça o novo Nike Air Zoom Pegasus 37</h2>
                        <p>
                            Por  quase  quatro  décadas, o  Nike Air  Zoom Pegasus  37  ajudou  corredores  de  todos  os níveis a alcançar seus objetivos. De corredores amadores  até  os  corredores  de  elite,  todos adoram o ajuste, a durabilidade e a capacidade de resposta que este tênis oferece ano após ano.
                        </p>

                        <div class="view_more" onclick="viewMore()">
                            <p>Ler mais</p>
                            <img src="/img/down.png" alt="">
                        </div>
                    </div>          
                    
                    <div class="see_more disable">
                        <div class="zoom_air">
                            <h2>Zoom Air na parte dianteira do pé</h2>
                            <p>
                                Nós colocamos a capsula de Zoom Air estratégicamente posicionada embaixo da parte dianteira. Essa cápsula é mais grossa que a do Pegasus anterior, oferecendo mais responsividade durante a corrida.
                            </p>
                        </div>

                        <div class="new_cushioning">
                            <h2>Novo amortecimento</h2>
                            <p>
                                Pela primeira vez, usamos a espuma React, nossa espuma mais durável, que possui um amortecimento incrivelmente macio e elástico, proporcionando ao novo Pegasus ainda mais quilômetros de durabilidade.
                            </p>
                        </div>

                        <div class="robust_upper">
                            <h2>Cabedal resistente, com áreas de malha ventilada</h2>
                            <p>
                                O que significa malha ventilada? Significa que todas as partes da malha no cabedal do Pegasus 37 foram mapeadas e posicionadas especialmente para oferecer sustentação a respirabilidade onde seu pé mais precisa.
                            </p>

                            <div class="view_less" onclick="viewLess()">
                                <p>Ler menos</p>
                                <img src="/img/up.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="see_more_details">
                    <img src="/img/model/clean/01-FULL.png" alt="">
                    <img src="/img/model/clean/02-FULL.png" alt="">
                    <img src="/img/model/clean/03-FULL.png" alt="">
                    <img src="/img/model/clean/04-FULL.png" alt="">
                    <img src="/img/model/clean/05-FULL.png" alt="">
                </div>
                
                <div class="modal_view modal_disable">
                    <div class="larger_view">
                    </div>                
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>

</body>
</html>